body{
    box-sizing: border-box;
    display: flex;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    max-height: 100vh;
}

nav{
    flex-grow: 1;
    max-width: 5  20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 20px 40px;
    box-shadow: 9px 1px 6px -4px rgba(0,0,0,0.64);
}

nav h1{
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}


nav ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 24px;
    font-weight: 800;
    overflow-y: auto;
}

nav ul li{
    padding: 12px 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
    background: #eaeffa;
    border-radius: 8px;
}

nav ul li .row{
    display: flex;
    justify-content: space-between;
}

nav ul li .row div{
    display: flex;
    gap: 8px;
    align-items: center;
}

nav ul li .row .chevron{
    transform: rotate(-90deg);
}


nav ul li .row .rotate{
    transform: rotate(0deg);

}

nav ul li .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 16px;
    place-items: center;
    display: none;
}

nav ul li .show-grid{
    display: grid;
}

nav ul li .grid div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border-radius: 8px;
    width: 128px;
    height: 128px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}

nav ul li .grid div img{
    order: 2;
    width: 50px;
    max-height: 60px;
}

nav ul li .grid div p{
    order: 3;
}


.main{
    padding: 16px 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    box-shadow: 9px 1px 6px -4px rgba(0,0,0,0.64);
}

.main h2, .summary h2{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;

}

.main .grid{
    flex-grow: 1;
    width: 100%;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 8px;
    place-items: center;
    place-content: start;
    row-gap: 16px;
    overflow-y: auto;
}

.main .grid div{
    border: 1px dashed black;
    width: 128px;
    height: 150px;
    border-radius: 8px;
    padding: 24px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
}

.main .grid div img{
    z-index: -1;
    width: 50px;
    max-height: 60px;
}


.main .reset button{
    font-size: 18px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background: #ff4d4d;
    color: white;
    cursor: pointer;
}


.summary{
    padding: 16px 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}


.summary ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 20px; 
}

.summary ul li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}

#total{
    font-weight: 800;
    order: 15;
    border-bottom: none;
}

